body, html, iframe {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.column {
  /* Compensate for bottom menu option at the very bottom */
  bottom: -4%;
  display: table;
  height: 104%;
  top: 0;
  position: absolute;
  width: 25%;
  /* Buttons should be clickable */
  z-index: 1;
}

.content-wrap {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.content-wrap > * {
  display: table-row;
}

.content {
  height: 100%;
  left: 25%;
  padding: 0 1.5%;
  position: absolute;
  right: 75%;
  text-align: center;
  width: calc(50% - 1.5% * 2);
}

.content.wide {
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
}

.column.left {
  left: 0;
  text-align: left;
}

.column.right {
  right: 0;
  text-align: right;
}

.menu-wrap-outer {
  display: table-row;
}

.edge-padding {
  height: 5%;
}

.menu-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  color: #333;
  height: 17vh;
  line-height: 5vh;
  width: 100%;
  margin: auto auto;
  vertical-align: middle;
}
